.dm-hcb-code-preview pre, {
	padding: 0;
	margin: 0;
	display: block;
	overflow-x: auto;
	width: 100%;
}

.dm-hcb-code-input textarea {
	padding: 1em;
	width: calc(100% - 2 * 1em);
	max-width: calc(100% - 2 * 1em);
}
